.task {
  flex: 1;
  border-radius: 10px;
  position: relative;
	width: 100%;
}

.task__delete {
  padding: 10px;
  border: 1px solid white;
  background-color: rgb(252, 151, 0);
  border-radius: 4px;
  position: relative;
}

.task__delete::after,
.task__delete::before {
  content: "";
  position: absolute;
  border: 1px solid white;
  background-color: white;
  left: 0%;
  min-width: 20px;
  min-height: 2px;
  display: inline-block;
  transform: rotate(45deg);
}

.task__delete::before {
  transform: rotate(-45deg);
}

.buttons {
  display: flex;
  justify-content: right;
  gap: 20px;
  flex-shrink: 0;
}

.task__change {
  position: relative;
  padding: 10px;
  border: 1px solid white;
  background-color: rgb(252, 151, 0);
  border-radius: 4px;
}

.task__change:before {
  content: "...";
  display: inline-block;
  position: absolute;
  top: -5%;
  left: 40%;
  transform: rotate(90deg);
}
