.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.addTask {
  height: 100%;
  width: 400px;
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  gap: 20px;
}

.addTask__input {
  border: 1px solid black;
  height: 30px;
  width: 100%;
}
.addTask__btn {
  border: 1px solid black;
  padding: 5px;
  height: 30px;
  background-color: orange;
  border-radius: 10px;
}

.taskList {
  height: 100%;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  border: 3px solid black;
}

.taskList__item {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.taskList__task {
  padding: 15px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.taskList__delete, .taskList__accept {
  min-width: 55px;
  min-height: 55px;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
}

.taskList__delete::after,
.taskList__delete::before {
  content: "";
  position: absolute;
  border: 1px solid black;
  background-color: black;
  left: 30%;
  min-width: 20px;
  min-height: 2px;
  display: inline-block;
  transform: rotate(45deg);
}

.taskList__delete::before {
  transform: rotate(-45deg);
}
