.taskList {
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}

.taskList__item {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
  gap: 20px;
}
