.select {
  max-width: 100%;
  background-color: rgb(252, 151, 0);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid white;
  z-index: 1000;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.sorter {
  border-radius: 2px;
  padding: 2px;
  border: 1px solid white;
}

.noteAll img {
  width: 24px;
}
